---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/gridpoints/TOP/41,66/forecast
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 82237ef
      X-Server-Id:
      - vm-bldr-nids-apiapp9.ncep.noaa.gov
      X-Edge-Request-Id:
      - 7c5193cf
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "geo": "http://www.opengis.net/ont/geosparql#",
                    "unit": "http://codes.wmo.int/common/unit/",
                    "@vocab": "https://api.weather.gov/ontology#"
                }
            ],
            "type": "Feature",
            "geometry": {
                "type": "Polygon",
                "coordinates": [
                    [
                        [
                            -96.844948799999997,
                            39.438720099999998
                        ],
                        [
                            -96.844559699999991,
                            39.416631500000001
                        ],
                        [
                            -96.815970099999987,
                            39.416929700000004
                        ],
                        [
                            -96.81635319999998,
                            39.439018400000002
                        ],
                        [
                            -96.844948799999997,
                            39.438720099999998
                        ]
                    ]
                ]
            },
            "properties": {
                "updated": "2024-05-08T22:41:28+00:00",
                "units": "us",
                "forecastGenerator": "BaselineForecastGenerator",
                "generatedAt": "2024-05-08T23:15:02+00:00",
                "updateTime": "2024-05-08T22:41:28+00:00",
                "validTimes": "2024-05-08T16:00:00+00:00/P7DT12H",
                "elevation": {
                    "unitCode": "wmoUnit:m",
                    "value": 394.10640000000001
                },
                "periods": [
                    {
                        "number": 1,
                        "name": "Tonight",
                        "startTime": "2024-05-08T18:00:00-05:00",
                        "endTime": "2024-05-09T06:00:00-05:00",
                        "isDaytime": false,
                        "temperature": 45,
                        "temperatureUnit": "F",
                        "temperatureTrend": null,
                        "probabilityOfPrecipitation": {
                            "unitCode": "wmoUnit:percent",
                            "value": null
                        },
                        "dewpoint": {
                            "unitCode": "wmoUnit:degC",
                            "value": 5.5555555555555554
                        },
                        "relativeHumidity": {
                            "unitCode": "wmoUnit:percent",
                            "value": 83
                        },
                        "windSpeed": "5 to 10 mph",
                        "windDirection": "NW",
                        "icon": "https://api.weather.gov/icons/land/night/skc?size=medium",
                        "shortForecast": "Clear",
                        "detailedForecast": "Clear, with a low around 45. Northwest wind 5 to 10 mph."
                    },
                    {
                        "number": 2,
                        "name": "Thursday",
                        "startTime": "2024-05-09T06:00:00-05:00",
                        "endTime": "2024-05-09T18:00:00-05:00",
                        "isDaytime": true,
                        "temperature": 72,
                        "temperatureUnit": "F",
                        "temperatureTrend": null,
[...]
