---
http_interactions:
- request:
    method: get
    uri: https://geocoding.geo.census.gov/geocoder/locations/address?benchmark=2020&city=Memphis&format=json&state=TN&street=1%20Bass%20Pro%20Drive&zip=38105
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result":{"input":{"address":{"zip":"38105","city":"Memphis","street":"1
        Bass Pro Drive","state":"TN"},"benchmark":{"isDefault":false,"benchmarkDescription":"Public
        Address Ranges - Census 2020 Benchmark","id":"2020","benchmarkName":"Public_AR_Census2020"}},"addressMatches":[{"tigerLine":{"side":"R","tigerLineId":"643423323"},"coordinates":{"x":-90.05238953465937,"y":35.154548211647445},"addressComponents":{"zip":"38105","streetName":"BASS
        PRO","preType":"","city":"MEMPHIS","preDirection":"","suffixDirection":"","fromAddress":"99","state":"TN","suffixType":"DR","toAddress":"1","suffixQualifier":"","preQualifier":""},"matchedAddress":"1
        BASS PRO DR, MEMPHIS, TN, 38105"}]}}'
  recorded_at: Wed, 08 May 2024 23:55:30 GMT
recorded_with: VCR 6.2.0
