---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/points/35.155,-90.052
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - bdec0e4
      X-Server-Id:
      - vm-bldr-nids-apiapp4.ncep.noaa.gov
      X-Edge-Request-Id:
      - 7c51a696
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "s": "https://schema.org/",
                    "geo": "http://www.opengis.net/ont/geosparql#",
                    "unit": "http://codes.wmo.int/common/unit/",
                    "@vocab": "https://api.weather.gov/ontology#",
                    "geometry": {
                        "@id": "s:GeoCoordinates",
                        "@type": "geo:wktLiteral"
                    },
                    "city": "s:addressLocality",
                    "state": "s:addressRegion",
                    "distance": {
                        "@id": "s:Distance",
                        "@type": "s:QuantitativeValue"
                    },
                    "bearing": {
                        "@type": "s:QuantitativeValue"
                    },
                    "value": {
                        "@id": "s:value"
                    },
                    "unitCode": {
                        "@id": "s:unitCode",
                        "@type": "@id"
                    },
                    "forecastOffice": {
                        "@type": "@id"
                    },
                    "forecastGridData": {
                        "@type": "@id"
                    },
                    "publicZone": {
                        "@type": "@id"
                    },
                    "county": {
                        "@type": "@id"
                    }
                }
            ],
            "id": "https://api.weather.gov/points/35.155,-90.052",
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -90.052000000000007,
                    35.155000000000001
                ]
            },
            "properties": {
                "@id": "https://api.weather.gov/points/35.155,-90.052",
                "@type": "wx:Point",
                "cwa": "MEG",
                "forecastOffice": "https://api.weather.gov/offices/MEG",
                "gridId": "MEG",
                "gridX": 42,
                "gridY": 67,
                "forecast": "https://api.weather.gov/gridpoints/MEG/42,67/forecast",
                "forecastHourly": "https://api.weather.gov/gridpoints/MEG/42,67/forecast/hourly",
                "forecastGridData": "https://api.weather.gov/gridpoints/MEG/42,67",
                "observationStations": "https://api.weather.gov/gridpoints/MEG/42,67/stations",
                "relativeLocation": {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            -89.977402999999995,
                            35.102828000000002
                        ]
                    },
                    "properties": {
                        "city": "Memphis",
                        "state": "TN",
                        "distance": {
                            "unitCode": "wmoUnit:m",
                            "value": 8926.2159874071003
                        },
                        "bearing": {
                            "unitCode": "wmoUnit:degree_(angle)",
                            "value": 310
                        }
                    }
                },
                "forecastZone": "https://api.weather.gov/zones/forecast/TNZ088",
                "county": "https://api.weather.gov/zones/county/TNC157",
                "fireWeatherZone": "https://api.weather.gov/zones/fire/TNZ088",
                "timeZone": "America/Chicago",
                "radarStation": "KNQA"
            }
        }
  recorded_at: Wed, 08 May 2024 23:55:30 GMT
recorded_with: VCR 6.2.0
